<div class="boxvideos-tabs">
  <ul>
    <li>
      <a href="#videos" class="current"><div class="img-tv"> </div></a>
    </li>
     <li>
      <a href="#radio"><div class="img-radio"> </div></a>
    </li>
     <li>
      <a href="#imagens"><div class="img-imagens"> </div></a>
    </li>
     <li>
      <a href="#jornal"><div class="img-jornal"> </div></a>
    </li>
  </ul>

  <!-- Bloco de código Videos -->
  <div id="videos">
   <iframe width="290" height="250" src="http://www.youtube.com/embed/srHZoj3ASmk" frameborder="0" allowfullscreen></iframe>
   </div>
   <!--Fim Bloco de código Videos -->
   
  <!-- Bloco de código radio -->
  <div id="radio">
radio
   </div>
   <!--Fim Bloco de código radio -->
   
  <!-- Bloco de código imagens -->
  <div id="imagens">
imagens
   </div>
   <!--Fim Bloco de código imagens -->
   
  <!-- Bloco de código jornal -->
  <div id="jornal">
jornal
   </div>
   <!--Fim Bloco de código jornal -->

</div>
