<div class="capacitacao-ilb">
   <div class="titulo"><div class="imagem"> </div>capacitação ilb</div>
   <div class="conteudo">
      <ul>
         <li>Oficina de revisão de Lei Orgânica e Regimento interno</li>
         <li>Outras oficinas</li>
         <li>Biblioteca Básica</li>
         <li>Manuais e outras publicações</li>
         <li>Diretório de Informações</li>
         <li>Modelos de documentos</li>
         <li>Censo Legislativo 2008</li>
         <li>LexML - Informação Legislativa</li>
      </ul>
   </div>
</div>
