<div class="carousel-container">
  <div class="carousel">
    <ul>
      {%- for _, data, __ in items %}
      <li>
        <a href="{{ data.target }}">
          <img src="{{ data.image }}" width="340" height="215" />
          <div class="carousel-text">
            <h3>{{ data.title }}</h3>
            <p>{{ data.text }}</p>
          </div>
        </a>
      </li>
      {%- endfor %}
    </ul>
   </div>
  
</div>
<div>
	<a class="mais-noticias" href="http://www.interlegis.leg.br/noticias">mais noticias»</a>
</div>
   