<div class="standard-tabs">
  <ul>
    <li class="standard-tabs-colaboracoes active3">
      <a href="#colab" class="current">COLABORAÇÕES</a>
    </li>
    <li class="standard-tabs-discussoes">
      <a href="#colab-discussoes">DISCUSSÕES</a>
    </li>
  </ul>
  <!-- Bloco de código COLABORAÇÕES -->
  <div class="colab">
    <h3><b>Últimas</b><br>Colaborações</h3>
    <a class="rss-colab" href="http://colab.interlegis.leg.br/rss/colab/latest/"> </a>
    <ul>
      {%- for entry in colaboracoes %}
      <li>
        <a class="colab-titulo" href="{{ entry.link }}">{{ entry.title }}</a><br>
{#
        <span class="colab-autor">
          <a href="/user/marcospaulosp">por TODO...,</a>
        </span>
        <span class="colab-tempo"> TODO... minutos atrás</span>
#}
      </li>
      {%- endfor %}
    </ul>
  </div>
  <!-- Fim do bloco de código COLABORAÇÕES -->

  <!-- Bloco de código DISCUSSOES -->
  <div class="colab-discussoes">
    <h3><b>Últimas</b><br>Discussões</h3>
    <a class="rss-colab" href="http://colab.interlegis.leg.br/rss/threads/hottest/"> </a>
    <ul>
      {%- for entry in discussoes %}
      <li>
        <a class="colab-titulo" href="{{ entry.link }}">{{ entry.title }}</a><br>
{#
        <span class="colab-autor">
          <a href="/user/marcospaulosp">por TODO...,</a>
        </span>
        <span class="colab-tempo"> TODO... minutos atrás</span>
#}
      </li>
      {%- endfor %}
    </ul>
  </div>
  <!-- Fim do bloco de código DISCUSSOES -->
</div>
