<div class="consultoria-e-informacao">
   <div class="titulo"><div class="imagem"> </div>consultoria e informação</div>
   <div class="conteudo">
      <ul>
        <li><a href="oficinas-interlegis"><span> </span>Oficinas Interlegis</strong></a></li>
        <li><a href="20040109141634">Biblioteca Virtual Interlegis</a></li>
        <li><a href="http://www.lexml.gov.br/"><span> </span>LexMl – Informação Legislativa</a></li>
        <li><a href="censo">Censo Legislativo 2005</a></li>
        <li><a href="diagnostico-pml-2010-2012"><span> </span>Diagnóstico PML (2010 – 2012)</a></li>
      </ul>
   </div>
</div>
