<div class="consultoria-e-informacao">
   <div class="titulo"><div class="imagem"> </div>consultoria e informação</div>
   <div class="conteudo">
      <ul>
         <li><a href="#">Oficina de revisão de Lei Orgânica e Regimento interno</a></li>
         <li><a href="#">Outras oficinas</a></li>
         <li><a href="#">Biblioteca Básica</a></li>
         <li><a href="#">Manuais e outras publicações</a></li>
         <li><a href="#">Diretório de Informações</a></li>
         <li><a href="#">Modelos de documentos</a></li>
         <li><a href="#">Censo Legislativo 2008</a></li>
         <li><a href="#">LexML - Informação Legislativa</a></li>
      </ul>
   </div>
</div>
