      <h2 class="box-header">Acompanhe o Interlegis</h2>

<div class="row">
    <div class="cell position-4 width-5">
      <div class="colab">
        <h3>Participe do Colab</h3>
        <a href="http://colab.interlegis.leg.br/">Colab</a>
        <ul>
          <li>
            <a class="colab-titulo" href="TODO">Design do box listagem de notícias</a>
            <span class="colab-autor">
              por <a href="/user/marcospaulosp10">Marcos Paulo Santos Pinto</a>,
            </span>
            <span class="colab-tempo"> 23 minutos atrás </span>
          </li>
          <li>
            <a class="colab-titulo" href="TODO">SPDO versão 1.0 Final</a>
            <span class="colab-autor">
              por <a href="/user/marcospaulosp10">Celso Magela de Almeida</a>,
            </span>
            <span class="colab-tempo"> 23 minutos atrás </span>
          </li>
          <li>
            <a class="colab-titulo" href="TODO">Design do box listagem de notícias</a>
            <span class="colab-autor">
              por <a href="/user/marcospaulosp10">Marcos Paulo Santos Pinto</a>,
            </span>
            <span class="colab-tempo"> 23 minutos atrás </span>
          </li>
        </ul>
      </div>
    </div>
</div>
