      <h2 class="box-header">Acompanhe o Interlegis</h2>

<div class="row">
    <div class="cell position-4 width-5">
      <div class="colab">
        <h3><b>Últimas</b><br>Colaborações</h3>
           <a class="rss-colab" href="http://colab.interlegis.leg.br/"> </a>
        <ul>
          <li>
            <a class="colab-titulo" href="TODO">Design do box listagem de notícias</a><br>
            <span class="colab-autor">
              <a href="/user/marcospaulosp">por Marcos Paulo Santos Pinto,</a>
            </span>
            <span class="colab-tempo"> 23 minutos atrás</span>
          </li>
          <li>
            <a class="colab-titulo" href="TODO">SPDO versão 1.0 Final</a><br>
            <span class="colab-autor">
              <a href="/user/marcospaulosp10">por Celso Magela de Almeida,</a>
            </span>
            <span class="colab-tempo"> 23 minutos atrás</span>
          </li>
          <li>
            <a class="colab-titulo" href="TODO">Design do box listagem de notícias</a><br>
            <span class="colab-autor">
              <a href="/user/marcospaulosp10">por Marcos Paulo Santos Pinto,</a>
            </span>
            <span class="colab-tempo"> 23 minutos atrás </span>
          </li>
        </ul>
      </div>
    </div>
</div>
