   <div id="ICalendar_0">
      <h2 class="box-header-base">Ações do Interlegis</h2>
        <ul>
            <li><a title="Agenda Interlegis" href="#agenda">Agenda</a></li>
            <li><a title="Projeto de Modernização do Legislativo" href="#pml">Modernização</li>
            <li><a title="Números Interlegis" href="#numeros">Números</a></li>
            <li><a title="Localize uma Casa" href="#casas-legislativas">Localize uma Casa</a></li>
        </ul>
        <div>
            <div id="agenda">
                <ul>
			      {%- for text, target, day, month, kind in events %}
                    <li>
                        <h4 class="{{ kind }}"><div>{{ day }}</div>{{ month }}</h4>
                        <p>{{ text }}</p>
                    </li>
			      {%- endfor %}
                </ul>
                <div>
                    <a href="" title="Todos os eventos">Todos os eventos »</a>
                    <a href="Envie um evento">Envie um evento »</a>
                </div>
            </div>
            <div id="pml" class="pml">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum enim lorem, accumsan a mollis sed, molestie vel elit. Phasellus sed viverra risus.</p>
                </div>
                <div>
                    <a href="" title="Saiba mais sobre o PML" class="saiba-mais">Saiba mais sobre o PML »</a>
                    <a href="" title="Perguntas frequentes" class="faq">Perguntas frequentes »</a>
                </div>
            </div>
            <div id="numeros" class="numeros">
                <ul>
                    <li>
                        <h4>1.532</h4>
                        <p>Diagnósticos realizados</p>
                    </li>
                    <li>
                        <h4>4.500</h4>
                        <p>Alunos inscritos</p>
                    </li>
                    <li>
                        <h4>18.000</h4>
                        <p>Mensagens trocadas</p>
                    </li>
                    <li>
                        <h4>9.000</h4>
                        <p>Membros inscritos no Colab</p>
                    </li>
                </ul>
                <div>
                    <a href="" title="Mais números do Interlegis">Mais números do Interlegis »</a>
                </div>
            </div>
            <div id="casas-legislativas" class="casas-legislativas">
                <form action="../@@casa-legislativa" method="get">
                    <input type="text" class="municipio" value="" placeholder="Procure por município ou estado brasileiro" /><br />
                    <input type="submit" class="submit" value="Localizar Casa Legislativa" />
                </form>
            </div>
        </div>
      </div>

