      <div id= "container">

        <div class="carousel">
          <ul>
            <li>
              <a href="">
                <img src="/portal/++theme++il.portalinterlegis/temp/images/1.jpg" alt="ex1" width="340" height="215" />
                <div class="carousel-text">
                  <h3><b>Envie</b> Notícias</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed est eu mauris lacinia molestie. Integer eu ultricies nisl.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="/portal/++theme++il.portalinterlegis/temp/images/caneca.jpg" alt="ex2" width="340" height="215" />
                <div class="carousel-text">
                  <h3><b>Mais</b> Novidades</h3>
                  <p>
                    Maecenas vehicula magna eget eros dictum fringilla. In hac habitasse platea dictumst. Aenean vestibulum ligula neque. Ut id varius ante.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="/portal/++theme++il.portalinterlegis/temp/images/interlegis.jpg" alt="ex3" width="340" height="215" />
                <div class="carousel-text">
                  <h3><b>Ainda</b> muito <b>mais...</b></h3>
                  <p>
                    Aenean pellentesque consectetur neque. Integer ultrices tincidunt odio ut adipiscing. Aliquam erat volutpat. Morbi auctor faucibus odio id cursus.
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
