<div class="interlegis-na-midia">
      <div class="interlegis-na-midia-titulo">INTERLEGIS NA MÍDIA</div>

      <ul>

            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra lacinia elit, at bibendum diam blandit in. Cras aliquam cursus ligula vel venenatis.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra lacinia elit, at bibendum diam blandit in. Cras aliquam cursus ligula vel venenatis.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra lacinia elit, at bibendum diam blandit in. Cras aliquam cursus ligula vel venenatis.</a></li>

      </ul>
   <div class="clipping">
      <a href="#">Todo o Clipping</a>
   </div>
</div>
