<div class="products-services-container">
  <h2>Produtos e Serviços</h2>
  <div class="next-previous-buttons">
    <input type="button" value="Previous" />
    <input type="button" value="Next" />
  </div>
  <div class="products-services">
    <ul>
      {%- for _, data, __ in items %}
      <li>
        <a class="products-services-item" title="Saiba mais sobre {{ data.title }}" href="{{ data.target }}">
          <h3 class="icon-home">{{ data.title }}</h3>
        </a>
        {{ data.text }}
        <a href="#" class="manuais-e-faqs">
          Manuais e FAQs
        </a>
        <a href="#" class="saiba-mais">
          Saiba mais
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>
