<h3>Produtos e Serviços</h3>
<div class="next-previous-buttons">
  <input type="button" value="Previous" class="carousel-control previous carousel-previous">
  <input type="button" value="Next" class="carousel-control next carousel-next">
</div>

<div class="products-services-container">
  <div class="carousel-products">
    <ul>
      {%- for _, data, __ in items %}
      <li>
        <a href="{{ data.target }}">
          <img src="{{ data.image }}" width="340" height="215" />
          <div class="carousel-text">
            <h3>{{ data.title }}</h3>
            <p>
              {{ data.text }}
            </p>
          </div>
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>
