<div class="produtos-de-tecnologia">
   <div class="titulo"><div class="imagem"> </div>produtos de tecnologia</div>
   <div class="conteudo">
      <ul>
        <li><a href="/produtos_servicos/tecnologia/produtos/sapl">SAPL - Processo Legislativo</a></li>
        <li><a href="/produtos_servicos/tecnologia/produtos/saap">SAAP - Atividade Parlamentar</a></li>
        <li><a href="/produtos_servicos/tecnologia/produtos/spdo">SPDO - Protocolo de Documentos</a></li>
        <li><a href="/produtos_servicos/tecnologia/produtos/portal-modelo">Portal Modelo</a></li>
        <li><a href="/produtos_servicos/tecnologia/produtos/hospedagem">Hospedagem Interlegis</a></li>
        <li><a href="/produtos_servicos/tecnologia/produtos/provimento-de-dns">Provimento de DNS</a></li>
        <li><a href="/produtos_servicos/tecnologia/produtos/registro-leg.br">Domínio .leg.br</a></li>
        <li><a href="/produtos_servicos/tecnologia/produtos/lexml">LexML</a></li>
      </ul>
   </div>
</div>
