<div class="produtos-de-tecnologia">
   <div class="titulo"><div class="imagem"> </div>produtos de tecnologia</div>
   <div class="conteudo">
      <ul>
        <li><a href="/tecnologia/produtos/produtos-oferecidos-pelo-interlegis">Produtos e serviços de tecnologia oferecidos pelo Interlegis</a></li>
        <li><a href="/tecnologia/produtos/sapl">SAPL - Apoio ao Processo Legislativo</a></li>
        <li><a href="/tecnologia/produtos/saap">SAAP - Sistema de Apoio à Atividade Parlamentar</a></li>
        <li><a href="/tecnologia/produtos/spdo">SPDO - Sistema de Protocolo de Documentos</a></li>
        <li><a href="/tecnologia/produtos/portal-modelo">Portal Modelo para Casas Legislativas</a></li>
        <li><a href="/tecnologia/produtos/hospedagem">Hospedagem Interlegis</a></li>
        <li><a href="/tecnologia/produtos/provimento-de-dns">Provimento de DNS</a></li>
        <li><a href="/tecnologia/produtos/registro-leg.br">Domínio .leg.br</a></li>
        <li><a href="/tecnologia/produtos/lexml">LexML</a></li>
      </ul>
   </div>
</div>
