<div class="relacionamento">
   <div class="titulo"><div class="imagem"> </div>relacionamento</div>
   <div class="conteudo">
      <ul>
        <li><a href="/produtos_servicos/comunicacao/imprensa">Imprensa</a></li>
        <li><a href="/produtos_servicos/comunicacao/eventos">Eventos Institucionais</a></li>
        <li><a href="/produtos_servicos/comunicacao/redes-sociais">Redes Sociais</a></li>
        <li><a href="http://colab.interlegis.leg.br">Colab</a></li>
        <li><a href="/produtos_servicos/comunicacao/ilb-em-foco">ILB em foco</a></li>
      </ul>
   </div>
</div>
