<div class="socialnetworks-tabs tabs-twitter-face">
  <ul>
    <li class="tab-facebook">
      <a href="#facebook" class="current">Facebook</a>
    </li>
    <li class="tab-twitter">
      <a href="#twitter">Twitter</a>
    </li>
  </ul>
  <!-- Bloco de código FACEBOOK -->
  <div id="facebook">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=118588551608514";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like-box" data-href="http://www.facebook.com/pages/N%C3%A3o-acabem-com-o-Interlegis/242618105805553" data-width="272" data-height="240" data-show-faces="true" data-stream="false" data-header="false"></div>

  </div>
  <!-- Fim do bloco de código FACEBOOK -->
  <!-- Bloco de código TWITTER -->
  <div id="twitter">
     <div class="textwidget">
		<script type="text/javascript" src="http://s.moopz.com/fanbox_init.js"></script>
		<div id="twitterfanbox">
         <script type="text/javascript">fanbox_init("InterlegisBR");</script>
        </div>
  </div>
   <style>
    .FB_SERVER_IFRAME {
	width: 272px !important; /* Largura do gadget */
	height: 240px !important; /* Altura do gadget */
	border: 0px;
    }
   </style>
  </div>
  <!-- Fim do bloco de código TWITTER -->
</div>
