# BUILDOUT DE DESENVOLVIMENTO

[buildout]
extends =
    base.cfg
    comum.cfg
parts +=
    instance
    zeo
    ipzope
#    test
#    coverage
#    report
eggs +=
    iw.debug
#    Products.PDBDebugMode
#    Products.Clouseau
zcml +=
    iw.debug

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
products =
    ${buildout:directory}/products
eggs =
    ${buildout:eggs}
    sauna.reload
zcml = ${buildout:zcml}
zope-conf-additional = %import sauna.reload
# zeo
zeo-client = true
shared-blob = on

[zeo]
recipe = plone.recipe.zeoserver

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:package-name} [test]
    iw.debug

defaults = ['--auto-color', '--auto-progress']

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory}/src'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--all']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']

[ipzope]
recipe = zc.recipe.egg
eggs =
    ipython
    ${instance:eggs}
initialization =
    import sys, os
    os.environ["INSTANCE_HOME"] = "${instance:location}"
    sys.argv[1:1] = ["--profile=zope2"]
scripts = ipython=ipzope

[versions]
zc.buildout = 2.2.0
setuptools => 0.7
