// based on http://css-tricks.com/tabs-with-round-out-borders/

$width-tabs: 88px;

.boxvideos-tabs > ul {
        list-style: none;
        content: "";
        display: table;
        clear: both;
        zoom: 1;
        margin:0px;
        width:500px;

    li {
	    /* Makes a horizontal row */
	    float: left;

	    /* So the psueudo elements can be
	       abs. positioned inside */
	    position: relative;
        @include header-font;
        text-align: left;
        font-size: 6.5pt;
        font-family:mako;
            a {
                  background-image: url("../images/tab-midia.png");
            }
    }
    
    .tab-videos{
    left:0;
    z-index:4;
    }
    
    .tab-radio{
    left: -26px;
    z-index:3;
    }
      
    .tab-imagens{
    left: -52px;
    z-index:2;
    }
    
    .tab-jornal{
    left: -79px;
    z-index:1;
    }
    
    a {
	    /* Make them block level
	       and only as wide as they need */
        float: left;
        height:20px;
        text-align: left;
        text-indent:30px;
        padding-top:7px;
        vertical-align:middle;
        width: 88px;
        margin-left: 0px;
        margin-right: 0px;
        color:gray;

    }
    
    .current {
	    /* Make them block level
	    and only as wide as they need */
	    float: left;
    }
    
    
    .active2 {
	    /* Highest, active tab is on top */
	    z-index: 4;
    }
    .active2 a {
	    /* Colors when tab is active */
        background-image: url("../images/tab-midia-active.png");
    }
    /* Only the first, last, and active
    tabs need pseudo elements at all */
    
    .img-tv{
    width:20px;
    height:13px;
    margin-left:25px;
    background: no-repeat right url("../images/icons/tv.png");
    }
    
    .img-radio{
    width:20px;
    height:13px;
    margin-left:25px;
    background: no-repeat right url("../images/icons/radio.png");
    }
    
    .img-imagens{
    width:20px;
    height:13px;
    margin-left:25px;
    background: no-repeat right url("../images/icons/imagens.png");
    }
    
    .img-jornal{
    width:20px;
    height:13px;
    margin-left:25px;
    background: no-repeat right url("../images/icons/jornal.png");
    }
    
}

.boxvideos-tabs > div {
    border-style: solid;
    border-width: 0px;
    min-height: 200px;
}

.boxvideos-tabs > div > div > h2 {
    margin: 20px 10px;
    padding-left: 35px;
    background: url("../images/icons/rss-big.png") no-repeat left top transparent;
    text-transform: uppercase;
    font-weight: normal;
}
.boxvideos-tabs .row {
    padding-bottom: 10px;
}
.boxvideos-tabs > div > br {
    clear:both;
}
