
$car-width: 600px - 20px;
$car-height: 215px;
/* $car-height: 400px; */

#container {
    .js {
        overflow:hidden;
        zoom:1;
        .carousel-wrap {
            display:inline-block;
            vertical-align:middle;
            width:$car-width;
            margin:0 5px 15px;
        }
        ul li {
            overflow:hidden;
            display:inline;
            float:left;
            width:$car-width;
            height:$car-height;
            zoom:1;
        }
    }
    // ################################################################
    .carousel {
        margin:0;
        border:0;
        zoom:1;
        .carousel-wrap {
            margin:0;
            border:0;
            zoom:1;
        }
        ul {
            margin:0;
            padding:0;
            zoom:1;
        }
        .carousel-control {
            overflow:hidden;
            display:inline-block;
            vertical-align:middle;
            width:40px;
            height:40px;
            cursor:pointer;
            line-height:999px;
            zoom:1;
            border:0;
            text-indent:-9999px;
            &:hover {
                -moz-opacity:.7;
                opacity:0.70;
                filter:alpha(opacity=70);
            }
        }
        .carousel-next {
            background:url(../images/icons/next.png) 0 0 no-repeat;
        }
        .carousel-previous {
            background:url(../images/icons/prev.png) 0 0 no-repeat;
        }
        .disabled, .disabled:hover {
            -moz-opacity:.1;
            opacity:0.10;
            filter:alpha(opacity=10);
            cursor:default;
        }
        div {
            margin:0;
            padding:0;
            border:0;
        }
        ul {
            padding:0;
            list-style:none;
            li {
                position:relative;
                width:$car-width;
                margin:0;
                div.carousel-text {
                    position:absolute;
                    top: 30px;
                    left: 362px;
                    // TODO: refatorar essa repeticao
                    b {
                        color: $dark-blue;
                    }
                    color: $blue;
                    h3 {
                        margin-bottom: 10px;
                    }
                }
                cite {
                    position:absolute;
                    bottom:3px;
                    right:10px;
                    line-height:19px;
                    font-size:11px;
                    a {
                        color:#fff;
                        text-decoration:none;
                        img {
                            vertical-align:middle;
                        }
                    }
                }
            }
        }
    } // end of .carousel ################################################################

    div.center-wrap {
        position:absolute;
        bottom:0;
        left:370px;

        overflow:hidden;
        clear:both;
        zoom:1;
        div {
            border:0;
            margin:15px 0;
        }
        a {
            span {
                color: transparent;
            }
            padding:2px 5px;
            background:url(../images/icons/bullet-off.png) 0 0 no-repeat;
            cursor:pointer;
            &.active {
                background:url(../images/icons/bullet-on.png) 0 0 no-repeat;
            }
        }
    }

}
.IE #container .js .carousel-wrap {
    display:inline;
}




