
$car-width:  600px - 20px;
$car-height:  215px;
/* $car-height:  400px; */

#container {
    .js {
        overflow: hidden;
        zoom: 1;
        .carousel-wrap {
            display: inline-block;
            margin: 0 5px 15px;
            vertical-align: middle;
            width: $car-width;
        }
        ul li {
            display: inline;
            float: left;
            height: $car-height;
            overflow: hidden;
            width: $car-width;
            zoom: 1;
        }
    }
    // ################################################################
    .carousel {
        border: 0;
        margin: 0;
        zoom: 1;
        .carousel-wrap {
            border: 0;
            margin: 0;
            zoom: 1;
        }
        ul {
            margin: 0;
            padding: 0;
            zoom: 1;
        }
        .carousel-control {
            border: 0;
            cursor: pointer;
            display: inline-block;
            height: 40px;
            line-height: 999px;
            overflow: hidden;
            text-indent: -9999px;
            vertical-align: middle;
            width: 40px;
            zoom: 1;
            &: hover {
                -moz-opacity: .7;
                opacity: 0.70;
                filter: alpha(opacity=70);
            }
        }
        .carousel-next {
            background: url(../images/icons/next.png) 0 0 no-repeat;
        }
        .carousel-previous {
            background: url(../images/icons/prev.png) 0 0 no-repeat;
        }
        .disabled, .disabled: hover {
            cursor: default;
            filter: alpha(opacity=10);
            -moz-opacity: .1;
            opacity: 0.10;
        }
        div {
            border: 0;
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin: 0;
                position: relative;
                width: $car-width;
                div.carousel-text {
                    color:  $blue;
                    left: 362px;
                    position: absolute;
                    top: 30px;
                    // TODO:  refatorar essa repeticao
                    b {
                        color: $dark-blue;
                    }
                    h3 {
                        margin-bottom: 10px;
                    }
                }
                cite {
                    bottom: 3px;
                    font-size: 11px;
                    line-height: 19px;
                    position: absolute;
                    right: 10px;
                    a {
                        color: #fff;
                        text-decoration: none;
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    } // end of .carousel ################################################################

    div.center-wrap {
        bottom: 0;
        clear: both;
        left: 370px;
        overflow: hidden;
        position: absolute;
        zoom: 1;
        div {
            border: 0;
            margin: 15px 0;
        }
        a {
            span {
                color:  transparent;
            }
            background: url(../images/icons/bullet-off.png) 0 0 no-repeat;
            cursor: pointer;
            padding: 2px 5px;
            &.active {
                background: url(../images/icons/bullet-on.png) 0 0 no-repeat;
            }
        }
    }

}
.IE #container .js .carousel-wrap {
    display: inline;
}
