.editable-box {
    position: relative;
    min-height: 1.5em;
    &:hover {
        outline: 2px dashed $blue;
        .editable-box-link {
            display: block !important;
        }
    }
}

.editable-box-link, .editable-box-link-overlay {
    display: block !important;
    position: absolute;
    right: 1px;
    bottom: 1px;
    z-index: 500;
}
