.editable-box {
    position: relative;
    outline: 2px dashed #e8e8e8;
    min-height: 1.5em;
    &:hover {
        outline: 2px dashed #b8b8b8;
        .editable-box-link {
            display: block !important;
        }
    }
}

.editable-box-link {
    display: none !important;
    position: absolute;
    right: 1px;
    bottom: 1px;
    z-index: 500;
}
