// ================================================================
// TODO: refactor all this entirely to use the modified deco-gs
// !!!!! DO THIS REFACTORING ONLY WHEN EVERYTHING ELSE IS FINISHED
// ================================================================

$footer-pad: 8px;

@mixin footer-firstrow {
    border-style: dotted;
    float: left;
    height: 250px;
    padding-left: $footer-pad;
    li {
        display: block;
        padding-top: 13px;
    }
}

div.footer {
    @extend .__white-font;
    background: $footer-blue;
    float: left;
    font-family: Mako, sans-serif;
    font-size: 11px;
    height: 1000px;
    margin-top: 50px;
    padding-top: 40px;
    width: 100%;

    h2 {
        font-family: Poly, serif;
        font-style: italic;
        font-size: 15px;
    }
    .left-box {
        @include footer-firstrow;
        border-width: 0 1px 1px 0;
        width: ($width / 6) - $footer-pad - 1;
    }
    .right-box {
        @include footer-firstrow;
        border-width: 0 0 1px 0;
        width: ($width / 2) - $footer-pad;
    }
    em {
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
    }
    .address {
        float: left;
        font-size: 10px;
        line-height: 150%;
        padding: 30px 0 0 $footer-pad;
        width: ($width / 2) - $footer-pad - 1;

        address {
            font-style: normal;
            font-weight: bold;
        }
        p {
            padding-top: 10px;
        }
    }
    .utils {
        $util-pad: 20px;
        border-style: dotted;
        border-width: 0 0 1px 1px;
        float: left;
        font-size: 9px;
        padding: 30px 0 25px $util-pad;
        width: ($width / 2) - $util-pad - 1px;

        #portal-siteactions {
            font-size: 9px;
            padding: 0;
            li {
                margin: 0;
            }
            li:before {
                content: "|";
                margin: 0 10px 0 10px;
            }
            li:first-child:before {
                content: "";
                margin: 0;
            }
        }
    }
    .partners {
        border-style: dotted;
        border-width: 0 0 0 1px;
        float: left;
        height: 70px;
        padding: 10px 0 0 20px;
        img {
            vertical-align: middle;
            padding-right: 40px;
        }
        img.last {
            padding-right: 0;
        }
    }

}

