// based on http://css-tricks.com/tabs-with-round-out-borders/

$width-tabs: 110px;

.standard-tabs > ul {
        list-style: none;
        content: "";
        display: table;
        clear: both;
        zoom: 1;
        margin:0px;
        width:500px;

    li {
	    /* Makes a horizontal row */
	    float: left;

	    /* So the psueudo elements can be
	       abs. positioned inside */
	    position: relative;
        @include header-font;
        text-align: left;
        font-size: 6.5pt;
        font-family:mako;
            a {
                  background-image: url("../images/tab-colab.png");
            }
    }
    
    .standard-tabs-colaboracoes{
    left:0;
    }
    .standard-tabs-discussoes{
    left: -20px;
    }
    
    a {
	    /* Make them block level
	       and only as wide as they need */
        float: left;
        height:18px;
        text-align: left;
        text-indent:20px;
        padding-top:7px;
        vertical-align:middle;
        width: 110px;
        margin-left: 0px;
        margin-right: 0px;
        color:gray;

    }
    
    .current {
	    /* Make them block level
	    and only as wide as they need */
	    float: left;
    }
    
    
    .active3 {
	    /* Highest, active tab is on top */
	    z-index: 3;
    }
    .active3 a {
	    /* Colors when tab is active */
        background-image: url("../images/tab-colab-active.png");
    }
    /* Only the first, last, and active
    tabs need pseudo elements at all */
 
}

.standard-tabs > div {
    border-style: solid;
    border-width: 0px;
    min-height: 440px;
}

.standard-tabs > div > div > h2 {
    margin: 20px 10px;
    padding-left: 35px;
    background: url("../images/icons/rss-big.png") no-repeat left top transparent;
    text-transform: uppercase;
    font-weight: normal;
}
.standard-tabs .row {
    padding-bottom: 10px;
}
.standard-tabs > div > br {
    clear:both;
}
