// based on http://css-tricks.com/tabs-with-round-out-borders/

// XXX: nao consigo avaliar uma variavel de nome dinamico
// @mixin bg-tab-color($tab) {
//     background: '$color-' + $tab;
// }



.il-tabs > ul {
        list-style: none;
        content: "";
        display: table;
        clear: both;
        zoom: 1;
        margin:0px;
        width:1002px;

    li {
        // Makes a horizontal row
        float: left;
        position:relative;
        @include header-font;
    }

        .tab-informacao{
        left:-7px;
    }
        .tab-capacitacao{
        left:-25px;
    }
        .tab-tecnologia{
        left:-40px;
    }
        .tab-comunicacao{
        left:-67px;
    }
    a {
        // Make them block level and only as wide as they need
        float: left;
        height:25px;
        text-align: left;
        text-indent:40px;
        padding-top:7px;
        vertical-align:middle;
        width: 250px;
        margin-left: 0px;
        margin-right: 0px;
        // Default text color
        color: white;
    }

    // XXX: nao consigo avaliar uma variavel de nome dinamico
    // $tabs: informacao, capacitacao, tecnologia, comunicacao;
    // @each $tab in $tabs {
    //     > .tab-#{$tab} a, .active.tab-#{$tab} a {
    //         @include bg-tab-color($tab);
    //     }
    // }

    .active {
        // Active tabpis on top
        z-index: 3;
    }
    .tab-informacao a, .active.tab-informacao a {
        background-image: url("../images/tab-blue.png") ;
    }
    .tab-capacitacao a, .active.tab-capacitacao a {
 background-image: url("../images/tab-green.png") ;
    }
    .tab-tecnologia a, .active.tab-tecnologia a {
 background-image: url("../images/tab-yellow.png") ;
    }
    .tab-comunicacao a, .active.tab-comunicacao a {
 background-image: url("../images/tab-red.png") ;
    }  
}

// XXX: sombra retirada temporariamente. Retornar quando a funcionalidade estiver completa.
// $shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.3);
$shadow: 0;

.il-tabs {
    > div {
        border: 8px solid transparent;
        -moz-box-shadow: $shadow;
        -webkit-box-shadow: $shadow;
        box-shadow: $shadow;
        min-height: 200px;
        position: relative;
    }
    > div > div {
        background: url("../images/icons/rss-big.png") no-repeat center left;
        font-weight: normal;
        margin: 0 10px;
    }
    > div > div > h2 {
        margin: 15px 0;
        padding-left: 35px;
        text-transform: uppercase;
    }
    .related {
        p {
            margin-top: 10px;
            color:#000000;
            font-size: 10pt;
            line-height: 150%;
        }
        h3 {
	        color:#dd9b3c;
	        font-weight: normal;
	        margin-top: 10px;
	        line-height: 120%;
            b {
                color: #9e6305;
                font-weight: normal;
            }
        }
    }

    > div.tab-informacao {
        border-color: $color-informacao;
        div > h2 > a.tabs-rss-icon {
           left: -35px;
           position:relative;
           content: ' ';
           padding: 0px 15px 0px 15px;
        }
        div > h2 > a.tab-link-informacao {
           color: darken($color-informacao, 20);
        }
        div > div > div > div > a > h3 {
           color: darken($color-informacao, 20);
        }
    }
    > div.tab-capacitacao {
        border-color: $color-capacitacao;
        div > h2 > a.tabs-rss-icon {
           left: -35px;
           position:relative;
           content: ' ';
           padding: 0px 15px 0px 15px;
        }
        div > h2 > a.tab-link-capacitacao {
           color: darken($color-capacitacao, 20);
        }
        div > div > div > div > a > h3 {
           color: darken($color-capacitacao, 20);
        }
        div > h2  {
        padding-left: 0px;
        }
    }
    > div.tab-tecnologia {
        border-color: $color-tecnologia;
        div > h2 > a.tabs-rss-icon {
           left: -35px;
           position:relative;
           content: ' ';
           padding: 0px 15px 0px 15px;
        }
        div > h2 > a.tab-link-tecnologia {
           color: darken($color-tecnologia, 20);
        }
        div > div > div > div > a > h3 {
           color: darken($color-tecnologia, 20);
        }
        div > h2  {
        padding-left: 0px;
        }
    }
    > div.tab-comunicacao {
        border-color: $color-comunicacao;
        div > h2 > a.tabs-rss-icon {
           left: -35px;
           position:relative;
           content: ' ';
           padding: 0px 15px 0px 15px;
        }
        div > h2 > a.tab-link-comunicacao {
           color: darken($color-comunicacao, 20);
        }
        div > div > div > div > a > h3 {
           color: darken($color-comunicacao, 20);
        }
        div > h2  {
        padding-left: 0px;
        }
    }
    .row {
        padding-bottom: 10px;
    }
}

.il-tabs > div > br {
    clear: both;
}
