// based on http://css-tricks.com/tabs-with-round-out-borders/

$tabs-canvas-color: white;
$tabs-background-color: $blue;
$tabs-color: white;
$tabs-active-background-color: $dark-blue;

.il-tabs > ul {
    list-style: none;
    padding: 0 10px;

    // correspondent to the original "group" class from the article
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    zoom: 1;

    li {
	    /* Makes a horizontal row */
	    float: left;

	    /* So the psueudo elements can be
	       abs. positioned inside */
	    position: relative;

        @include header-font;
    }
    a {
	    /* Make them block level
	       and only as wide as they need */
	    float: left;
	    padding: 8px 0 8px 20px;
        width: 230px - 20px;
        text-align: left;

	    /* Default colors */
	    color: $tabs-color;
	    background: $tabs-background-color;

	    /* Only round the top corners */
	    -webkit-border-top-left-radius: 15px;
	    -webkit-border-top-right-radius: 15px;
	    -moz-border-radius-topleft: 15px;
	    -moz-border-radius-topright: 15px;
	    border-top-left-radius: 15px;
	    border-top-right-radius: 15px;
    }
    .active {
	    /* Highest, active tab is on top */
	    z-index: 3;
    }
    .active a {
	    /* Colors when tab is active */
	    background: $tabs-active-background-color;
	    color: $tabs-color;
    }
    li:before, li:after, li a:before, li a:after {
	    /* All pseudo elements are
	       abs. positioned and on bottom */
	    position: absolute;
	    bottom: 0;
    }
    /* Only the first, last, and active
       tabs need pseudo elements at all */
    li:last-child:after,   li:last-child a:after,
    li:first-child:before, li:first-child a:before,
    .active:after,   .active:before,
    .active a:after, .active a:before {
	    content: "";
    }
    .active:before, .active:after {
	    background: $tabs-active-background-color;

	    /* Squares below circles */
	    z-index: 1;
    }
    /* Squares */
    li:before, li:after {
	    background: $tabs-background-color;
	    width: 10px;
	    height: 10px;
    }
    li:before {
	    left: -10px;
    }
    li:after {
	    right: -10px;
    }
    /* Circles */
    li a:after, li a:before {
	    width: 20px;
	    height: 20px;
	    /* Circles are circular */
	    -webkit-border-radius: 10px;
	    -moz-border-radius:    10px;
	    border-radius:         10px;
	    background: $tabs-canvas-color;

	    /* Circles over squares */
	    z-index: 2;
    }
    .active a:after, .active a:before {
	    background: $tabs-background-color;
    }
    /* First and last tabs have different
       outside color needs */
    li:first-child.active a:before,
    li:last-child.active a:after {
	    background: $tabs-canvas-color;
    }
    li a:before {
	    left: -20px;
    }
    li a:after {
	    right: -20px;
    }
}

.il-tabs > div {
    border-style: solid;
    border-width: 4px;
    border-color: $tabs-active-background-color;
    min-height: 200px;
}

.il-tabs > div > div > h2 {
    margin: 20px 10px;
    padding-left: 35px;
    background: url("../images/icons/rss-big.png") no-repeat left top transparent;
    text-transform: uppercase;
    font-weight: normal;
}