
// VARIABLES
// ================================================================

$width: 960px;

// COLORS
$blue: #4C71A1;        // menus, headers
$medium-blue: #00377b; // begining of titles
$dark-blue: #0d2651;

$footer-blue: #25528c; // used only in the footer

// IMPORTS
// ================================================================

// Attention: The order of these imports matter.
@import "base";
@import "dotted-deco";
@import "footer";
@import "carousel";
@import "products-and-services";
@import "carousel-edit";
@import "editable-box";
@import "tabs";

// GENERAL
// ================================================================

body {
    background-image: url(../images/net-background.png);
    font-family: Mako, sans-serif;
    font-size: 12px;  // TODO: rever este tamanho
}

h1, h2, h3, h4, h5, h6 {
    font-family: Mako, sans-serif;
}

// NOTE: we convention that __<name> classes should not be used in the markup:
// they are ment just to compose other classes via sass @extend
.__white-font {
    color: #fff;
    a:link, a:visited {
        color: #fff;
    }
}

#top-bar {
    @extend .__white-font;
    background: url(../images/top-bar.png) repeat-x scroll 0 0 #eef;
    height: 50px;
}

div.middle-container {
    margin: 0 auto;
    max-width: $width;
}

// EDIT BAR

#edit-bar {
    font-size: 100%;
    margin-top: 10px;
    #contentActionMenus {
        right: -3px;
    }
}

#portal-columns {
    background: #fff;
}

// HEADER
// ================================================================

#portal-personaltools {
    background: transparent;
    border-radius: 0;
    margin: -14px 0 0 0;
    padding: 0;
    #personaltools-login, #user-name {
        background: url(../images/icons/person.png) no-repeat right top transparent;
        color: #000;
        margin: 0;
        padding: 9px 25px 0 0;
    }
    dt.actionMenuHeader a:after {
        content: none;
    }
    #anon-personalbar, #actionMenuHeader {
        margin: 0;
        a {
            margin: 0;
        }
    }
    &.deactivated dt {
        margin: 0;
    }
    &.activated dd {
        border-radius: 0;
    }
}

// BUSCA

#portal-searchbox {
    margin: 73px 0 30px;
    input {
        border: 0;
        height: 30px;
        &[type="text"] {
            background: url("../images/search-open-brace.png") no-repeat left top #fff;
            font-family: Poly, serif;
            font-style: italic;
            padding-left: 10px;
            width: 272px;
        }
        &.searchButton {
            background: url("../images/search-button.png") no-repeat left top #fff;
            height: 30px;
            text-indent: -3000px;                 /* sends the text off-screen */
            width: 41px;
        }
    }
}

#LSResult {
    background: transparent;
    margin-top: -4px;
    .livesearchContainer {
        background: #fff;
    }
}

// SITE ACTIONS

#header-actions {
    font-size: 11px;
    margin: 8px 0 0 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    li {
        margin-right: 10px;
    }
    a {
        color: #a4a19c;
    }
}

#portal-logo {
    margin: 30px 0 25px 0;
}

#portal-globalnav {
    background: #fff;
    border-style: dotted;
    border-width: 1px 1px 0 1px;
    font-size: 10px;
    margin: 0;
    padding: 10px 8px 10px 0px;
    width: $width - 8px;

    li {
        display: inline-block;
        margin: 0 0 0 10px;
        padding: 0;
        width: $width/6 - 13px;  // TODO: rever isso
        &#portaltab-index_html {
            margin-left: 8px;
        }
        a {
            background: $blue;
            color: #fff;
            height: 48px;
            line-height: 72px;
            margin: 0;
            padding: 0 0 0 8px;
            text-transform: uppercase;
            width: 100%;
        }
        a:visited {
            color: #fff;
        }
    }
    li.selected a,
    li.selected a:hover,
    li a:hover {
        background: $dark-blue;
        color: #fff;
    }
}

// BOXES
// ================================================================

@mixin box-header {
    @include header-font;
    background: $blue;
    height: 26px;
    line-height: 26px;
    margin-bottom: 10px;
    padding-left: 4px;
    &:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $blue;
        content: "";
        height: 0;
        margin-right: -10px;
        position: relative;
        top: 26px;
        left: 8px;
        width: 0;
    }
}

// uso de "b": vide http://html5doctor.com/i-b-em-strong-element/
@mixin superlink {
    margin-bottom: 5px;
    padding-left: 45px;
    a, a:visited {
        b {
            color: $medium-blue;
            display: block;
            margin-bottom: -9px;
        }
        color: $blue;
    }
}

.simple-box {
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 20px;
    h2 {
        @include box-header;
        margin-left: -20px;
        margin-right: -10px;
    }
    h3 {
        @include superlink;
        font-size: 1.5em;
        margin-top: 20px;
    }
}

div {
    .box-header {
        @include box-header;
    }
    & > p > img {
        margin-left: 8px;
    }
}

@each $type in news, cases, contact, home {
    .icon-#{$type} {
        background: url(../images/icons/#{$type}.png) left no-repeat;
    }
}
