
// VARIABLES
// ================================================================

$width: 960px;

// COLORS

$color-informacao: #68679b;
$color-capacitacao: #6aa575;
$color-tecnologia: #dd9f4b;
$color-comunicacao: #e38064;

$blue: #4c71a1;        // menus, headers
$blue-light: #f5f5f5;  // box bg
$blue-text: #5b9cf1;   // box bg
$medium-blue: #00377b; // begining of titles
$dark-blue: #0d2651;
$yellow-bright: #ffbe08;
$yellow-text: #ffc22a;
$color-divider-0: #d1d3d4;
$color-divider-1: #dddedf;
$color-divider-2: #dadcdc;
$color-tab-link: #969696;
// $tab-current: #e6e7e8;

$footer-blue: #25528c; // used only in the footer

// IMPORTS
// ================================================================

// Attention: The order of these imports matter.
@import "base";
@import "dotted-deco";
@import "footer";
@import "carousel";
@import "products-and-services";
@import "carousel-edit";
@import "editable-box";
@import "tabs";
@import "noticias";
@import "latest-colab";
@import "stantard-tabs";
@import "tabs-twitter-face";
@import "pml";
@import "numeros";
@import "casas-legislativas";
@import "boxvideos-tabs";
@import "carousel-edit-products-and-services";
@import "portal-column-one";
@import "portlet";
@import "commenting";
@import "interlegis-na-midia";
@import "box-videos-redes-noticias";
@import "produtos-e-servicos-interlegis";

// GENERAL
// ================================================================

body {
    background-image: url(../images/net-background.png);
    font-family: Mako, sans-serif;
    font-size: 10pt;  // TODO: rever este tamanho
}

h1, h2, h3, h4, h5, h6 {
    font-family: Mako, sans-serif;
}

// NOTE: we convention that __<name> classes should not be used in the markup:
// they are ment just to compose other classes via sass @extend
.__white-font {
    color: #fff;
    a:link, a:visited {
        color: #fff;
    }
}

#top-bar {
    @extend .__white-font;
    background: url(../images/top-bar.png) repeat-x scroll 0 0 #eef;
    height: 50px;
}

div.middle-container {
    margin: 0 auto;
    max-width: $width;
}

// EDIT BAR

#edit-bar {
    font-size: 100%;
    margin-top: 10px;
    #contentActionMenus {
        right: -3px;
    }
}

#portal-columns {
    background: #fff;
}

// HEADER
// ================================================================

#portal-personaltools {
    background: transparent;
    border-radius: 0;
    margin: -14px 0 0 0;
    padding: 0;
    #personaltools-login, #user-name {
        background: url(../images/icons/person.png) no-repeat right top transparent;
        color: #000;
        margin: 0;
        padding: 9px 25px 0 0;
    }
    dt.actionMenuHeader a:after {
        content: none;
    }
    #anon-personalbar, #actionMenuHeader {
        margin: 0;
        a {
            margin: 0;
        }
    }
    &.deactivated dt {
        margin: 0;
    }
    &.activated dd {
        border-radius: 0;
    }
}
// NOTICIAS

#parent-fieldname-title{
margin-bottom: 10px;
}

#parent-fieldname-description{
margin-bottom: 10px;
}



// BUSCA

#portal-searchbox {
    margin: 55px 0 0 0;
    input {
        border: 0;
        height: 30px;
        &[type="text"] {
            background: url("../images/search-open-brace.png") no-repeat left top #fff;
            font-family: Poly, serif;
            font-style: italic;
            padding-left: 10px;
            width: 272px;
        }
        &.searchButton {
            background: url("../images/search-button.png") no-repeat left top #fff;
            height: 30px;
            text-indent: -3000px;                 /* sends the text off-screen */
            width: 41px;
        }
    }
}

#LSResult {
    background: transparent;
    margin-top: -4px;
    .livesearchContainer {
        background: #fff;
    }
}

// SITE ACTIONS

#header-actions {
    font-size: 11px;
    margin: 8px 0 0 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    li {
        margin-right: 10px;
    }
    a {
        color: #a4a19c;
    }
}



#header-menu-bar {
    font-size: 13pt;
    margin: 8px 0 0 0;
    padding: 0;
    right: 120px;
    position:absolute;
    top: -8px;
    text-align: left;
    text-transform: none;
    li #header-menu-bar-colab, li #header-menu-bar-saberes, li #header-menu-bar-intranet {
        margin-right: 10px;  
        padding-left:20px;
        padding-right:20px;
        border-right: 2px #b8b8b8 solid;
    }
    
    li #header-menu-bar-portal {
        padding-left:20px;
        padding-right:20px;
    }
    
    a {
        color: #a4a19c;
        vertical-align:middle;
    }
    #header-menu-bar-colab{
        color: #6AA575;
    }
    #header-menu-bar-saberes{
        color: #114a81;
    }
    #header-menu-bar-intranet{
        color: #f19e1c;
    }
    #header-menu-bar-portal{
        color: #555160;
    }
    
}

#portal-logo {
    margin: 15px 0 15px 0;
}

#portal-globalnav {
    background: #fff;
   // border-style: dotted;
    border-width: 1px 1px 0 1px;
    font-size: 8pt;
    margin: 0;
    padding: 10px 8px 10px 0px;
    width: $width - 6px;

    li {
        display: inline-block;
        margin: 0 0 0 10px;
        padding: 0;
        width: $width/6 - 13px;  // TODO: rever isso
        &#portaltab-index_html {
            margin-left: 8px;
        }
        a {
            background: $blue;
            color: #fff;
            height: 48px;
            line-height: 72px;
            margin: 0;
            padding: 0 0 0 8px;
            text-transform: uppercase;
            width: 100%;
        }
        a:visited {
            color: #fff;
        }
    }
    li.selected a,
    li.selected a:hover,
    li a:hover {
        background: $dark-blue;
        color: #fff;
    }
}

// BOXES
// ================================================================
@mixin box-header-base {
    @include header-font;
    background-color:#f5f5f5;
    padding: 8px;
    div{

      border-bottom:solid 1px #0d2651;

    }

}

.simplerow{


   .row{

      background-color:#f5f5f5;
      padding-top:10px;

   }

}

.box-header-base {
    @include box-header-base;
}

@mixin box-header {
    @include box-header-base;
}

.box-header {
    @include box-header;
}

// uso de "b": vide http://html5doctor.com/i-b-em-strong-element/
@mixin superlink {
    margin-bottom: 5px;
    padding-left: 45px;
    a, a:visited {
        b {
            color: $medium-blue;
            display: block;
            margin-bottom: -9px;
        }
        color: $blue;
    }
}

.simple-box {
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 20px;
    h2 {
        @include box-header;
        margin-left: -20px;
        margin-right: -10px;
    }
    h3 {
        @include superlink;
        font-size: 1.5em;
        margin-top: 20px;
    }
}

div {
    & > p > img {
        margin-left: 8px;
    }
}

@each $type in news, cases, contact, home {
    .icon-#{$type} {
        background: url(../images/icons/#{$type}.png) left no-repeat;
    }
}



// BOX INTERLEGIS IN ACTION

.dt-row:first-child > div:nth-child(2) {
    background: $blue-light;
    border-width: 0 1px;
    left: 99.9%;
}

#ICalendar_0 {
    > ul {
        border-bottom: 1px solid $color-divider-1;
        margin-bottom: 12px;
        padding-bottom: 12px;
        > li {
            display: inline;
            margin: 0 8px 12px 0;
            > a {
                color: $color-tab-link;
                &.current {
                    color: $blue-text;
                    &:before {
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid $blue;
                        content: "";
                        height: 0;
                        margin-right: -10px;
                        position: relative;
                        top: -4px;
                        left: 8px;
                        width: 0;
                    }
                }
            }
        }
    }
}

#agenda {

        .evento-destaque{
        border-bottom:1px #a1a3a4 solid;
        padding-bottom:5px;
        margin-bottom:5px;
        }
        > div {
        margin-top: 10px;
            a {
            font-size: 10pt;
            float: right;         
            }
        }
    li {
        clear: both;
        float: none;
        display: table;
        margin-top: 5px;
        padding-bottom: 5px;
       /* border-bottom: 1px solid #d1d3d4; */
        width: 340px;
      }
    h4 {
        color: #fff;
        float: left;
        font-weight: bold;
        height: 15px;
        padding: 4px;
        padding-top:10px;
        text-align: center;
        width: 44px;
        font-size:5pt;
        
        
        > div {
            font-size: 2em;
        }
        &.informacao {
            background: $color-informacao;
        }
        &.capacitacao {
            background: $color-capacitacao;
        }
        &.tecnologia {
            background: $color-tecnologia;
        }
        &.comunicacao {
            background: $color-comunicacao;
        }
    }
    p {
        float: none;
        margin-left: 60px;
        font-size: 10pt;
        line-height:110%;
    }
}
//correção do breadcrumbs
#portal-breadcrumbs{
    margin-top: 6px;
}
